#contact_modal {
    /* display: block; */
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 250px;
    margin: 0 100px;
}

.contact_button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 150px;
    height: 60px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover, .contact_button:focus {
    background-color: #D3573C;
    color: black;
}  

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 98%;
    padding: 0 8px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}




/* AJOUT CODE */

.error {
    color: #901C1C;
    font-size: 15px;
    display: block;
    margin-top: 5px;
}

form textarea {
    padding: 8px;
    width: 98%;
    border-radius: 8px;
    font-size: 20px;
    resize: none;
    border: none;
}
